.actions-panel-container{
  z-index: $layer-two;
}

.actions-panel {
  display:flex;
  width: 100%;
  justify-content: space-around;
  height: $actions-panel-height;
  overflow: hidden;
  fill: $icon-color-dark;
  &.fixed {
    background-color: rgba($base-color, 0.7);
    position: fixed;
    bottom: 0;
    fill: $icon-color-dark;
  }
}

.icon-hoc {
  width: $baseline-margin;
  display:flex;
  position: relative;
  top: 0;
  flex-direction: column;
  justify-content: center;
  &:not(.disabled){
    &:hover{
      fill: $accent-color;
      .underline{
        visibility: visible;
      }
    }

  }
  .underline{
    visibility: hidden;
    fill: inherit;

  }
  @include transition-animation(top);
  &.disabled{
    fill: rgba($dark-color, 0.3);
  }
  &.hidden{
    top: -100%;
  }
  svg {
    width: 100%;
    stroke:none;
  }
}


@include mobile {
  .actions-panel-container {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100% !important;
    .icon-hoc {
      fill: $icon-color-light;
      &.disabled {
        fill: rgba($icon-color-light, 0.3);
      }
    }
  }
  .actions-panel {
    background-color: $accent-color;
    color: $light-color;
    &.fixed {
      position: relative;
    }
  }
}
