#app {
  background-color: $base-color;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.mainContainer {
  display: flex;
  width: 100%;
  max-width: $desktop-breakpoint * 1px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  min-width: $mobile-breakpoint * 1px;
  overflow: hidden;
}

.leftContainer {
  display: flex;
  flex: 0 0 50%;
  justify-content: flex-end;
  align-items: center;
  max-width: 50%;
  min-height: 100vh;
}

.canvasContainer {
  margin: $gap;
  flex: 1;
}
.canvasPlaceholder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $border-color;
  .uploadArea {
  }
  &:after {
    display:block;
    content: "";
    padding-bottom: 70%;
    width:0px;
  }
  .uploadArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 70%;
      span {
        visibility: hidden;
        color: $accent-color;
      }
      input {
        visibility: hidden;
        height: 0;
      }
    }
    .upload-image-icon {
      width: 80%;
    }
    .load-sample-btn {
      @include transition-animation(opacity, max-height);
      // @include transition-animation(max-height);
      // transition: opacity 0.3s, max-height 0.3s;
      // transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
      display:flex;
      max-height: 0;
      opacity: 0;

      overflow: hidden;
    }

    &:hover {
      .load-sample-btn {
        max-height: $baseline-margin;
        opacity: 1;
      }
      label {
        span {
          visibility: visible;
        }
      }
      .upload-image-icon:not(.loading) {
        .picture, .arrow {
          animation-name: picture-scale;
          animation-duration: 1000ms;
          animation-direction: alternate;
          animation-iteration-count: infinite;
          animation-timing-function: cubic-bezier(0.4, 0.0, 0.8, 1);
        }
        .sun{
          animation-name: sun-scale;
          animation-duration: 1000ms;
          animation-direction: alternate;
          animation-iteration-count: infinite;
          animation-timing-function: cubic-bezier(0.4, 0.0, 0.8, 1);
        }
      }
    }
    .upload-image-icon {
      fill: $accent-color;
      &.loading {
        .sun {
          animation-name: sun-rotate;
          animation-duration: 1500ms;
          animation-iteration-count: infinite;
          animation-timing-function: cubic-bezier(0.4, 0.0, 0.8, 1);
        }

      }
    }

  }
}

@keyframes sun-rotate{
  from {
    transform: translate(157px,131px) rotate(0deg) translate(-157px,-131px);
  } to {
    transform: translate(157px,131px) rotate(360deg) translate(-157px,-131px);
  }
}

.rightContainer {
  display: flex;
  flex: 0 0 50%;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  flex-wrap: wrap;
  align-content: space-between;
  @include transition-animation(flex-basis);
  &.collapsed {
    flex-basis: 0%;
  }
}

.formsContainer{
  min-width: $mobile-breakpoint/2 * 1px;
  padding: $gap;
  flex: 1;
  min-height: 50%;
}

.footer {
  flex: 0 0 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@include mobile {
  .mainContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    min-width: auto;
  }
  .footer{
    flex: 1;
  }
  .leftContainer {
    flex: 0 0 auto;
    max-width: 100%;
    align-items: flex-start;
    min-height: auto;
  }

  .canvasContainer {
  }

  .canvasPlaceholder {
    width: 100%;
  }
  .rightContainer {
    flex: 0 0 auto;
    min-height: auto;
    flex-direction:column;
    padding-bottom: $actions-panel-height + ($baseline-margin/2);
  }
  .formsContainer {
    flex: 1;
    min-width: 0;
  }
}

@include desktop {
  .mainContainer {
    max-width: $widescreen-breakpoint * 1px;
    max-width: 190vh;
  }
}
