.canvasPlaceholder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include canvas-border;
  // border: 2px solid $border-color;
  // box-shadow: 1px 2px 29px 0px rgba($dark-color,0.3);
  .uploadArea {
  }
  &:after {
    display:block;
    content: "";
    padding-bottom: 70%;
    width:0px;
  }
  .uploadArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 70%;
      span {
        visibility: hidden;
        color: $accent-color;
      }
      input {
        visibility: hidden;
        height: 0;
      }
    }
    .upload-image-icon {
      width: 80%;
    }
    .load-sample-btn {
      @include transition-animation(opacity, max-height);
      display:flex;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
    }

    &:hover {
      .load-sample-btn {
        max-height: $baseline-margin;
        opacity: 1;
      }
      label {
        span {
          visibility: visible;
        }
      }
      .upload-image-icon:not(.loading) {
        .picture, .arrow {
          animation-name: picture-scale;
          animation-duration: 1000ms;
          animation-direction: alternate;
          animation-iteration-count: infinite;
          animation-timing-function: cubic-bezier(0.4, 0.0, 0.8, 1);
        }
        .sun{
          animation-name: sun-scale;
          animation-duration: 1000ms;
          animation-direction: alternate;
          animation-iteration-count: infinite;
          animation-timing-function: cubic-bezier(0.4, 0.0, 0.8, 1);
        }
      }
    }
    .upload-image-icon {
      fill: $accent-color;
      &.loading {
        .sun {
          animation-name: sun-rotate;
          animation-duration: 1500ms;
          animation-iteration-count: infinite;
          animation-timing-function: cubic-bezier(0.4, 0.0, 0.8, 1);
        }

      }
    }
  }
}

@include mobile {
  .canvasPlaceholder {
    width: 100%;
    // In mobile, 100vh doesn't include the browser bar, 
    // so centering CanvasPlaceholder in middle of viewport is difficult. Instead, 
    // Going to set min-height for the placeholder to 80vh and align it to the top of the viewport
    min-height: 80vh;
    .uploadArea {
      .load-sample-btn {
        max-height: $baseline-margin;
        opacity: 1;
      }
      label {
        span {
          visibility: visible;
        }
      }

    }
  }
}
