.form-section {
  margin: 0 0 $baseline-margin;
  .title {
    display: flex;
    align-items: flex-end;
    margin-top: 0;
    h4{
      user-select: none;
      small{
        color: rgba($text-color, 0.3);
      }
      &:hover{
        small {
          color: $accent-color;
        }
        color: $accent-color;
      }
    }
  }
  .inner-container {
    position:relative;
    overflow: hidden;
    &.expanded {
      animation-name: expand;
      animation-duration: 0.3s;
      max-height: none;
      animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
    }
    &.collapsed {
      animation-name: collapse;
      animation-duration: 0.3s;
      animation-timing-function: cubic-bezier(0, 1, 0, 1);
      max-height: 0;
    }
  }
}

.radio-input{
  display: flex;
  label {
    display:flex;
    padding: 0 $gap;
    align-items:center;
  }
}

.selection-form {
  &.placeholder {
    input {
      opacity: 0.3;
      border: 2px dashed $dark-color;
    }
    .icons-area {
      visibility: hidden;
    }
  }
  &:not(:first-child){
    animation-name: expand;
    animation-duration: 0.3s;
    max-height: none;
    animation-timing-function: cubic-bezier(0.5, 0, 1, 1);

  }
  .input-section{
    display:flex;
    flex: 0 0 100%;
  }
  &.active {
    .id-area span{
      background-color: $accent-color;
      color: $white-color;
    }
  }

  &:not(:first-child){
    .input-label-wrapper label{
      display:none;
    }
  }

  .id-area{
    flex: 0 0 auto;
    min-width: 2em;

  }
  .coordinates-area{
    display: flex;
    flex: 1 1 0%;

  }

  .icons-area {
    display: flex;
    align-items: flex-end;
  }

  .errors-section{
    ul{
      list-style: none;
      color: $accent-color;
      margin: $baseline-margin/3 0 $baseline-margin/3;
    }

  }

  .input-label-wrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
    &.password{
      flex: 2;
    }
    padding: 0 0.3em;
    label{
      margin-bottom: $baseline-margin/2;
    }
    input{

    }
    span{
      text-align:center;

    }

  }
}
