.form-section {
  margin: 0 $section-gutter $baseline-margin* 2;

  .title {
    display: flex;
    align-items: flex-end;
  }
}

.selection-form {
  .input-section{
    display:flex;
    flex: 0 0 100%;
  }
  &.active {
    .id-area span{
      background-color: $accent-color;
      color: $white-color;
    }
  }

  &:not(:first-child){
    .input-label-wrapper label{
      display:none;
    }
  }

  .id-area{
    flex: 0 0 auto;
    min-width: 2em;

  }
  .coordinates-area{
    display: flex;
    flex: 1 1 0%;

  }

  .errors-section{
    ul{
      list-style: none;
      color: $accent-color;
      margin: $baseline-margin/3 0 $baseline-margin/3;
    }

  }

  .input-label-wrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
    &.password{
      flex: 2;
    }
    padding: 0 0.3em;
    label{
    }
    input{

    }
    span{
      text-align:center;

    }

  }
}
