.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: $layer-three;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 100vh;
  overflow-y: scroll;
  .container{
    margin-top: auto;
    margin-bottom: auto;
    max-width: $mobile-breakpoint * 1px;
    background-color: rgba($white-color, 0.95);
    @include canvas-border;
  }
  .heading{
    display:flex;
    justify-content: flex-end;
    padding: $gap;
  }
  .content {
    padding: $baseline-margin $section-gutter * 3;

  }
  h2 {
    border-bottom: 2px solid $accent-color;
  }
  p {

  }
  figure {

  }
}

@include mobile {
  .modal {
    align-items: flex-start;
    .container {
    }

  }
}
