body, html {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button, input[type="submit"] {
  border: none;
  background-color: $accent-color;
  color: $white-color;

}

input, textarea {
  width: 100%;
}
