// Wrapper mixins for media query breakpoints
@mixin mobile() {
  @media (max-width: $mobile-breakpoint * 1px){
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $mobile-breakpoint * 1px + 1){
    @content;
  }
}

@mixin widescreen() {
  @media (min-width: $widescreen-breakpoint * 1px){
    @content;
  }
}

@mixin fullhd() {
  @media (min-width: $fullhd-breakpoint * 1px){
    @content;
  }
}

// Mixins for transitions
@mixin transition-animation($property...) {
  transition: $property;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

// Mixin for Canvas border and shadow
@mixin canvas-border(){
  border: 2px solid $border-color;
  box-shadow: 1px 2px 29px 0px rgba($dark-color,0.3);
}
